{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-container">
        <img src="{% static 'images/자기소개.jpg' %}" alt="자기소개" width="250px">
        <p class="tag">LikeLion_14th_session</p>
        <h1 class="title">2026 멋쟁이사자처럼 14기</h1>
        <h6 class="welcome">자기소개</h6>

            <div class="introduce-title">🦁 자기소개 🦁</div>
            <ul>
                <li>이름: 조수아</li>
                <li>나이 : 05년생, 24학번 </li>
                <li>학과 : 통계학과, 융소 연전</li>
                <li>트랙 : 백엔드 </li>
                <li>사는 곳 : 인천 </li>
                <li>좋아하는 것: 야구, 영화, 맛집탐방, 밴드, 방탈출 등등 .. </li>
            </ul>
            </div>

        </div>

    </div>
</body>

{% endblock %}

